<br><br><br>
<div class='fixtures'>
<h1>Fixtures</h1>

<% if params[:controller] == "matches" && params[:action] == "index" %>
<div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <form id="target" class="clearfix" action="destination.html">
            <input type="text" id="datepicker" size="30" placeholder="Search for fixtures on a specific date">
        </div>
        <div class="small-2 columns">
          <input type="submit" class="button right" id="submit" value="Go">
          </form>
          <% end %>
        </div>
      </div>
   </div>
</div>
     

<h2 class="seven_days">This weeks fixtures</h2>
<table id="seven_days">
  <tr>
    <th>Division</th>
    <th>Season</th>
    <th>Date</th>
    <th>Home Team</th>
    <th>Last 5</th>
    <th></th>
    <th>Away Team</th>
    <th>Last 5</th>
    <th>Goals Prediction on last 5 games</th>
    <th>Goals Prediction on season</th>
    <th>More</th>
  </tr>

<% @seven_days.each do |match| %>
  <tr>
    <td><%= div_name(match) %></td>
    <td><%= match.season %></td>
    <td><%= match.date.strftime('%d/%m/%y') %></td>
    <td><%= link_to match.hometeam.name, team_url(match.hometeam)%></td>
    <td><%= match.hometeam.last_five_results_percentage %>%</td>
    <td>V</td>
    <td><%= link_to match.awayteam.name, team_url(match.awayteam)%></td> 
    <td><%= match.awayteam.last_five_results_percentage %>%</td>
    <td><%= both_teams_last_five(match) %></td>
    <td><%= both_teams_form(match) %></td>
    <td><%= link_to 'Show', match %></td>
  </tr> 
    <% end %>
</table>

<h2 class="all_fixtures">All fixtures</h2>
<table id="all_fixtures">
  <tr>
    <th>Division</th>
    <th>Season</th>
    <th>Date</th>
    <th>Home Team</th>
    <th></th>
    <th>Away Team</th>
  </tr>

<% @fixtures.each do |match| %>
  <tr>
    <td><%= div_name(match) %></td>
    <td><%= match.season %></td>
    <td><%= match.date.strftime('%d/%m/%y') %></td>
    <td><%= link_to match.hometeam.name, team_url(match.hometeam)%></td>
    <td>V</td>
    <td><%= link_to match.awayteam.name, team_url(match.awayteam)%></td> 
  </tr> 
<% end %>
</table>

<div id="search-fixtures" >
  <table class="joined">
    <thead>
      <tr>
        <th>Division</th>
        <th>Season</th>
        <th>Date</th>
        <th>Home Team</th>
        <th></th>
        <th>Away Team</th>
      <tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</div>





