<h1>Listing matches</h1>

<div>

<form id="target" action="destination.html">
  <input type="text" id="datepicker" size="30">
  <input type="submit" id="submit" value="Go">
</form>

</div>

<div id="results" >
    <table class="joined">
        <thead>
        <tr>
            <th>Division</th>
            <th>Season</th>
            <th>Date</th>
            <th>Home Team</th>
            <th>Match details</th>
            <th>Away Team</th>
        <tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<table class="right-column">
  <tr>
    <th>Division</th>
    <th>Season</th>
    <th>Date</th>
    <th>Home Team</th>
    <th>Home goals </th>
    <th>Away goals </th>
    <th>Away Team</th>
    <th>HT Home goals</th>
    <th>HT Away goals</th>
    <th>Half time GoalsGalore</th>
    <th>Full time GoalsGalore</th>
  </tr>

<% @fixtures.each do |match| %>
  <tr>
    <td><%= match.div %></td>
    <td><%= match.season %></td>
    <td><%= match.date.strftime('%d/%m/%y') %></td>
    <td><%= match.hometeam.name %></td>
    <td><%= match.fthg %></td>
    <td><%= match.ftag %></td>
    <td><%= match.awayteam.name %></td> 
    <td><%= match.hthg %></td>
    <td><%= match.htag %></td>
    <td><%= ht_goals(match) %></td>
    <td><%= ft_goals(match) %></td>
  </tr> 
<% end %>
</table>





