<br>

<table>
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
  </tr>

  <tr>
    <td><%= @match.hometeam.name %></td>
    <td><%= @match.awayteam.name %></td> 
  </tr> 
</table>

<table>

<% @all_history.each do |history| %>
  <%= history.hometeam.name %>
  <%= history.fthg %>
  <%= "v" %>
  <%= history.ftag %>
  <%= history.awayteam.name %>
  <%= history.date.strftime('%d/%m/%y') %>
  <%= history.season %>
  <%= ft_goals(history) %> 
<% end %>

</table>

<h2>Home team's Last 5 games</h2>
<table>
  <tr>
    <th>Score</th>
    <th>Goals</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @last_home.each do |game| %>
  <td><%= game.fthg %> <%= game.ftag %></td>
  <td><%= ft_goals(game) %></td>
  <% end %>
</table>

<h2>Away team's Last 5 games</h2>
<table>
  <tr>
    <th>Score</th>
    <th>Goals</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @last_away.each do |game| %>
  <td><%= game.fthg %> <%= game.ftag %></td>
  <td><%= ft_goals(game) %></td>
  <% end %>
</table>

