<!DOCTYPE html>
<html>
<head>
  <title>GggApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
<body>
  <header>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="title-area">
          <li class="name"><h1><%= link_to "GOALS GOALS GOALS", root_path %></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", home_about_path %></li>
            <li><%= link_to "Fixtures" %></li>
            <li><%= link_to "Results", matches_path %></li>
            <li><%= link_to "Teams", teams_path %></li>
            <li><%= link_to "GGG Predictions" %></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
    </div>
  </header>

<div class="12 large columns">
<%= yield %>
</div>

</body>
</html>