
<h1><%= @team_page.name %></h1>

<h2>Last 5 games form</h2>
<table>
  <tr>
    <td>Date</td>
    <td>Goals</td>
  </tr>
  <tr>
    <% @last.each do |game| %>
      <% if game.awayteam == @team_page %>
        <td><%= game.hometeam.name %> <%= game.fthg %>-<%= game.ftag %> Away</td>
      <% else %>
        <td><%= game.awayteam.name %> <%= game.fthg %>-<%= game.ftag %> Home</td>
      <% end %>
    <td><%= ft_goals(game) %></td>
  </tr>
 
  <% end %>
</table>

<br>
<h2>Home form</h2>
<table id="home_form">
    <tr>
      <td>Date</td>
      <td>Vs</td>
      <td>Goals</td>
    </tr>

  <% @home_games.each do |game| %>
    <% if game.hthg.blank? %>
        <%= "" %>
    <% else %>
    <tr>
      <td><%= game.date.strftime('%d/%m/%y') %></td>
      <td><%= game.awayteam.name %></td>
      <td><%= ft_goals(game) %></td>
    </tr>
      <% end %> 
    <% end %>
</table>

<br><br>
<h2>Away form</h2>
<table id="away_form">
      <tr>
        <td>Date</td>
        <td>Vs</td>
        <td>Goals</td>
      </tr>

      <% @away_games.each do |game| %>
        <% if game.hthg.blank? %>
            <% "" %>
        <% else %>
      <tr>
        <td><%= game.date.strftime('%d/%m/%y') %></td>
        <td><%= game.hometeam.name %></td>
        <td><%= ft_goals(game) %></td>
      </tr>
        <% end %> 
      <% end %>
</table>

<br><br>
<h2>Season form</h2>
<table id="all_form">
      <tr>
        <td>Date</td>
        <td>Hometeam</td>
        <td>Awayteam</td>
        <td>Goals</td>
      </tr>

      <% @all_results.each do |game| %>
        <% if game.hthg.blank? %>
            <% "" %>
        <% else %>
      <tr>
        <td><%= game.date.strftime('%d/%m/%y') %></td>
        <td><%= game.hometeam.name %></td>
        <td><%= game.awayteam.name %></td>
        <td><%= ft_goals(game) %></td>
      </tr>
        <% end %> 
      <% end %>
</table>

<h2>Fixtures</h2>
<table>
  <tr>
    <td>Date</td>
    <td>Home</td>
    <td></td>
    <td>Away</td>

  <% @all_games.each do |game| %>
  </tr>
  <tr>
    <td><%= game.date.strftime('%d/%m/%y') %></td>
    <td><%= game.hometeam.name %></td>
    <td><%= "v" %></td>
    <td><%= game.awayteam.name %></td> 
    </tr> 
  <% end %>

</table>



<br><br>










