
<h1><%= @team_page.name %></h1>

<br>

<table>
    <tr>
      <td>Date</td>
      <td>Vs</td>
      <td>Goals</td>
    </tr>

  <% @home_games.each do |game| %>
    <% if game.hthg.blank? %>
        <%= "" %>
    <% else %>
    <tr>
      <td><%= game.date.strftime('%d/%m/%y') %></td>
      <td><%= game.awayteam.name %></td>
      <td><%= ft_goals(game) %></td>
    </tr>
      <% end %> 
    <% end %>
</table>

<br><br>

<table>
      <tr>
        <td>Date</td>
        <td>Vs</td>
        <td>Goals</td>
      </tr>

      <% @away_games.each do |game| %>
        <% if game.hthg.blank? %>
            <% "" %>
        <% else %>
      <tr>
        <td><%= game.date.strftime('%d/%m/%y') %></td>
        <td><%= game.hometeam.name %></td>
        <td><%= ft_goals(game) %></td>
      </tr>
        <% end %> 
      <% end %>
</table>

<br><br>

<table>

  <tr>
    <td>Date</td>
    <td>Home</td>
    <td></td>
    <td>Away</td>

  <% @all_games.each do |game| %>
    <% if game.date <= Date.today %>
      <%= "" %>
    <% else %>
  </tr>
  <tr>
    <td><%= game.date.strftime('%d/%m/%y') %></td>
    <td><%= game.hometeam.name %></td>
    <td><%= "v" %></td>
    <td><%= game.awayteam.name %></td> 
    </tr> 
  <% end %>
  <% end %>

</table>








