<p id="notice"><%= notice %></p>

<%= @team_page.name %>

<br><br>

<% @home_games.each do |game| %>
  <% if game.hthg.blank? %>
      <%= "" %>
  <% else %>
    <%= "Home" %>
    <%= game.fthg %>
    <%= game.ftag %>
    <%= game.awayteam.name %>
    <%= ft_goals(game) %>
   <% end %> 
<% end %>

<br><br>

<% @away_games.each do |game| %>
  <% if game.hthg.blank? %>
      <%= "" %>
  <% else %>
  <%= "Away" %>
  <%= game.fthg %>
  <%= game.ftag %>
  <%= game.hometeam.name %>
  <%= ft_goals(game) %>
  <% end %> 
<% end %>

<br><br>

<% @all_games.each do |game| %>
  <%= game.hometeam.name %>
  <%= "v" %>
  <%= game.awayteam.name %>
  <%= game.date.strftime('%d/%m/%y') %><br>
<% end %>








