<!DOCTYPE html>
<html>
<head>
  <title>GggApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="contain-to-grid" id="navbar">
      <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="title-area">
          <li class="name"><h1 class="logo" id="logo"><%= link_to "Goals Goals Goals", root_path %></h1></li>
          <li class="toggle-topbar menu-icon" ><a href="#"><span></span></a></li>
        </ul>
        <% unless params[:controller] == "matches" && params[:action] == "index" %>
        <section class="top-bar-section">
          <ul class="left">
            <li class="has-form" id="search">
              <div class="row collapse">
                <form id="target" method="GET" action="/matches">
                  <div class="large-8 small-9 columns">
                    <input type="text" name="q" id="datepicker" size="50" placeholder="Search for fixtures on a specific date">
                  </div>
                  <div class="large-4 small-3 columns">
                    <input type="submit" class="alert button expand go" id="submit" value="Go">
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </section>
        <% end %>
        <section class="top-bar-section">
          <ul class="right">
            <li><%= link_to "About", home_about_path %></li>
            <li><%= link_to "Fixtures", matches_path %></li>
            <li><%= link_to "Results", results_matches_path %></li>
            <li><%= link_to "Teams", teams_path %></li>
          </ul>
        </section>
      </nav>
    </div>
  </header>

  <div class="row">
      <%= yield %> 
  </div>
  <footer class="footer">Beards United</footer>
</body>
</html>